html, body {
    padding: 0;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
}
body {
    width: 100%
}
header {
    width: 100%;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%
}
header .menu {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%
}
header .menu .rightMenu ul {
    margin-top: 7%;
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
header .menu .rightMenu ul li {
    margin-right: 10%;
    font-size: 1.5em;
    cursor: pointer;
}
header .menu .rightMenu ul li:hover {
    color: #fc557c;
    border-bottom: 1px solid #ff4e2e;
}
header .menu .phone {
    width: 30%;
    margin-top: 4%;
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
header .menu .phone p {
    margin-right: 3%;
    font-size: 1.5em;
    text-align: center;
    margin-top: -.1%;
    cursor: default;
}
header .menu .phone .button {
    text-align: center;
    margin-top: -.5%;
    height: 35px;
    width: 150px;
    color: #fc557c;
    border: 1px solid #fc557c;
    cursor: pointer;
}
header .menu .phone .button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.mainSection {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    margin-top: -5%
}
.mainSection .bio {
    width: 50%;
    margin-right: 1%
}
.mainSection h1 {
    font-size: 55px;
    font-weight: 700;
}
.mainSection h2 {
    font-size: 25px;
    margin-top: -8%
}
.mainSection .photo {
    width: 40%
}
.mainSection .bio .learn {
    text-align: center;
    margin-top: -.5%;
    margin-left: 20%;
    height: 50px;
    width: 225px;
    background-color: #ff4e2e;
    color: #fff;
    border: none;
    cursor: pointer;
}
.mainSection div .learn:hover {
    background-color: #000;
    color: #fff;
}
.active {
    width: 100%
}
.active .text2 {
    width: 80%;
    text-align: center;
    font-size: 50px;
    margin-left: 10%
}
.active .skills {
    width: 90%;
    margin-top: 5%;
    margin-left: 8%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.active .skills .skill {
    width: 20%;
    margin-right: 5%
}
.active .skill {
    text-align: center;
    cursor: pointer;
}
.active .skill p {
    font-size: 20px;
}
.cost {
    width: 80%;
    margin-left: 40%;
    margin-top: 3%;
    text-align: center;
    height: 50px;
    width: 200px;
    color: #fff;
    background-color: #ff4e2e;
    border: 1px solid #ff4e2e;
    cursor: pointer;
}
.cost:hover {
    background-color: #000;
    color: #fff;
}
.myWorks {
    width: 100%
}
.myWorks .text3 {
    width: 80%;
    text-align: center;
    font-size: 50px;
    margin-top: 7%;
    margin-left: 10%;
}
.myWorks {
    width: 80%;
}
.myWorks .cards {
    width: 90%;
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.myWorks .cards .work {
    margin-right: 2%
}
.myWorks .cards .work:hover {
    border-bottom: 1px solid #fc557c;
}
.myWorks .order {
    width: 80%;
    margin-top: 2%;
    margin-left: 41%;
    height: 40px;
    width: 200px;
    color: #fff;
    background-color: #ff4e2e;
    border: 1px solid #ff4e2e;
    cursor: pointer;
}
.myWorks .order:hover {
    background-color: #000;
    color: #fff;
}
footer .sec1 {
    width: 100%;
    background-color: #ff4e2e;
    margin-top: 5%;
    height: 290px;
    color: #fff;
    text-align: left;
}
footer .sec1 .textBlock {
    width: 80%;
    padding-top: 3%;
    margin-left: 20%
}
footer .sec1 div h2 {
    font-size: 35px;
    line-height: 40px;
}
footer .sec2 {
    width: 100%;
}
footer .sec2 .lists {
    width: 80%;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
}
.sec2 .list1 ul {
    list-style-type: none;
}
.sec2 .list1 ul li {
    line-height: 30px;
    font-size: 18px;
}
.sec2 {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%}
.sec2 .list1 {
    text-align: left;
    margin-top: -2%}
.sec2 .list1 ul li {
    font-size: 20px;
}
.sec2 .list2 {
    margin-top: 3%;
    cursor: pointer;
    font-size: 20px;
}
.sec2 .list2 .contact:hover {
    color: #ff4e2e;
}
.sec2 .list2 .contact {
    display: flex;
    text-align: center;
    padding-bottom: 15px;
}
.sec2 .list2 .contact img {
    height: 15px;
    padding-right: 15px;
    margin-top: -15px;
}
.sec2 .list2 .contact p {
    margin-top: -15px;
    font-size: 20px;
}
.sec2 .list3 {
    margin-top: 1%}
.sec2 .list3 button {
    text-align: center;
    margin-top: -.5%;
    height: 35px;
    width: 150px;
    color: #fc557c;
    border: 1px solid #fc557c;
    cursor: pointer;
}
.sec2 .list3 button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.sec2 .list3 .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    cursor: pointer;
}
.sec2 .list1 ul li:hover {
    color: #fc557c;
    cursor: pointer;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 1px;
}
.footer h2 {
    font-size: 20px;
    margin-top: 2%
}
@media (max-width: 1600px) {
    header .menu {
    max-width: 1600px;
    width: 80%;
}
header .menu .rightMenu {
    width: 40%;
    margin-left: 12%;
}
header .menu .rightMenu ul li {
    font-size: 35px;
}
header .menu .phone {
    width: 40%;
}
header .menu .phone p {
    font-size: 30px;
}
header .menu .phone .button {
    height: 50px;
    width: 150px;
    font-size: 20px;
}
.mainSection .bio {
    width: 80%;
    margin-top: 5%;
}
.mainSection .bio h1 {
    width: 80%;
    margin-left: 20%;
    font-size: 70px;
}
.mainSection .bio h2 {
    width: 80%;
    margin-top: .5%;
    margin-left: 20%;
    font-size: 45px;
    line-height: 60px;
}
.mainSection .bio .learn {
    height: 100px;
    width: 300px;
    font-size: 30px;
    margin-left: 40%;
}
.active .text2 {
    font-size: 70px;
}
.active .skills .skill {
    width: 20%}
.active .skills .skill p {
    font-size: 25px;
}
.active .skills .skill img {
    width: 150px;
}
.active .cost {
    height: 100px;
    width: 300px;
    font-size: 30px;
    margin-left: 40%;
}
.myWorks {
    max-width: 1600px;
    width: 80%;
}
.myWorks .text3 {
    width: 80%;
    text-align: center;
    font-size: 70px;
    margin-top: 7%;
    margin-left: 20%
}
.myWorks .cards {
    width: 60%;
    margin-left: 8%;
}
.myWorks .cards .work img {
    width: 400px;
}
.myWorks .cards .work p {
    font-size: 30px;
}
.myWorks .order .orderButton {
    width: 80%}
.myWorks .orderButton button {
    height: 100px;
    width: 320px;
    font-size: 30px;
    margin-left: 50%;
}
footer .sec1 {
    max-width: 1600px;
    width: 100%;
    background-color: #ff4e2e;
    margin-top: 5%;
    height: 320px;
    color: #fff;
    text-align: left;
}
footer .sec1 .textBlock {
    width: 80%;
}
footer .sec1 .textBlock h2 {
    width: 80%;
    margin-top: 1%;
    font-size: 50px;
    line-height: 55px;
}
footer .sec1 .textBlock h3 {
    width: 80%;
    font-size: 25px;
    line-height: 35px;
}
.sec2 {
    max-width: 1600px;
    height: 500px;
}
.sec2 .lists {
    height: 150px;
}
.sec2 .list1 ul li {
    font-size: 35px;
    line-height: 50px;
}
.sec2 .list2 .contact {
    margin-bottom: 5%;
}
.sec2 .list2 .contact img {
    width: 40px;
    height: 30px;
}
.sec2 .list2 .contact p {
    font-size: 25px;
}
.sec2 .list3 button {
    height: 60px;
    width: 180px;
    font-size: 20px;
    margin-left: 5%;
}
.sec2 .list3 .icons {
    margin-left: 5%;
}
.sec2 .list3 .icons img {
    width: 30px;
    height: 40px;
}
.sec2 .footer {
    max-width: 1600px;
    height: 150px;
}
.sec2 .footer h2 {
    font-size: 30px;
    margin-top: 3%;
}
}
@media (max-width: 1200px) {
    header .menu {
        max-width: 1200px;
        width: 80%
    }
    header .menu .rightMenu {
        margin-left: 5%
    }
    header .menu .rightMenu ul li {
        font-size: 25px;
    }
    header .menu .phone p {
        font-size: 25px;
    }
    header .menu .phone .button {
        height: 50px;
        width: 150px;
        font-size: 15px;
        margin-top: -2%;
    }
    .mainSection {
        max-width: 1200px;
        width: 80%;
    }
    .mainSection .bio {
        width: 50%;
        margin-top: 5%
    }
    .mainSection .bio h1 {
        width: 100%;
        margin-left: 10%;
        font-size: 50px;
    }
    .mainSection .bio h2 {
        width: 80%;
        margin-top: .5%;
        margin-left: 10%;
        font-size: 35px;
        line-height: 50px;
    }
    .mainSection .bio .learn {
        height: 50px;
        width: 200px;
        font-size: 20px;
        margin-left: 20%
    }
    .mainSection .photo{
        margin-left: -5%;
    }
    .active {
        max-width: 1200px;
    }
    .active .text2 {
        font-size: 50px;
    }
    .active .skills {
        width: 90%;
        margin-left: 10%;
    }
    .active .skills .skill {
        width: 20%;
        
    }
    .active .skills .skill p {
        font-size: 18px;
    }
    .active .skills .skill img {
        width: 100px;
    }
    .active .cost {
        height: 50px;
        width: 200px;
        font-size: 20px;
    }
    .myWorks {
        max-width: 1200px;
        width: 80%
    }
    .myWorks .text3 {
        width: 80%;
        text-align: center;
        font-size: 50px;
        margin-top: 7%;
        margin-left: 20%
    }
    .myWorks .cards {
        width: 80%;
        margin-left: 5%;
    }
    .myWorks .cards .work img {
        width: 350px;
    }
    .myWorks .cards .work p {
        font-size: 20px;
    }
    .myWorks .order .orderButton {
        width: 80%
    }
    .myWorks .orderButton button {
        height: 50px;
        width: 200px;
        font-size: 20px;
        margin-left: 45%;
    }
    footer .sec1 {
        max-width: 1200px;
        width: 100%;
        background-color: #ff4e2e;
        margin-top: 5%;
        height: 250px;
        color: #fff;
        text-align: left;
    }
    footer .sec1 .textBlock {
        width: 80%
    }
    footer .sec1 .textBlock h2 {
        width: 80%;
        margin-top: 1%;
        font-size: 30px;
        line-height: 40px;
    }
    footer .sec1 .textBlock h3 {
        width: 80%;
        font-size: 15px;
        line-height: 35px;
    }
    .sec2 {
        max-width: 1200px;
        height: 300px;
    }
    .sec2 .lists {
        height: 150px;
    }
    .sec2 .list1 ul li {
        font-size: 20px;
        line-height: 40px;
    }
    .sec2 .list2 .contact {
    }
    .sec2 .list2 .contact img {
        width: 30px;
        height: 30px;
    }
    .sec2 .list2 .contact p {
        font-size: 20px;
    }
    .sec2 .list3 button {
        height: 50px;
        width: 150px;
        font-size: 15px;
    }
    .sec2 .list3 .icons {
        margin-left: 5%
    }
    .sec2 .list3 .icons img {
        width: 20px;
        height: 30px;
    }
    .sec2 .footer {
        max-width: 1200px;
        height: 100px;
    }
    .sec2 .footer h2 {
        font-size: 25px;
        margin-top: 3%
    }
    }
@media (max-width: 760px) {
    .menu {
    max-width: 760px;
    flex-direction: column;
    align-items: center;
}
header .menu .phone {
    width: 80%;
    align-items: center;
}
header .menu .phone .button {
    margin-top: -5%}
.mainSection {
    max-width: 760px;
    flex-direction: column;
    align-items: center;
}
.mainSection .bio {
    width: 100%;
    height: 300px;
    align-items: center;
    margin-left: 5%
}
.mainSection .bio h1 {
    width: 80%;
    margin-top: 10%;
    font-size: 50px;
    line-height: 55px;
    margin-left: 15%
}
.mainSection .bio h2 {
    width: 80%;
    margin-top: 5%;
    line-height: 30px;
    font-size: 25px;
    margin-left: 20%
}
.mainSection .bio .learn {
    width: 40%;
    margin-top: 5%;
    align-items: center;
    margin-left: 30%}
.active {
    max-width: 760px;
    display: inline-block;
}
.active .skills {
    flex-direction: column;
    align-items: center;
}
.active .skills .skill {
    width: 50%;
}
.active .cost {
    width: 30%;
    margin-left: 35%;
}
.myWorks {
    max-width: 760px;
    flex-direction: column;
    align-items: center;
}
.myWorks .cards {
    width: 80%;
    flex-direction: column;
    margin-left: 20%;
}
.myWorks .order .orderButton {
    width: 100%;
}
.myWorks .order {
    width: 20%;
    margin-left: 40%;
}
.photo {
    display: none;
}
footer .sec1 {
    max-width: 760px;
    height: 160px;
}
footer .sec1 .textBlock {
    width: 80%;
    align-items: center;
}
footer .sec1 .textBlock h2 {
    margin-top: -1%;
    font-size: 20px;
    line-height: 23px;
}
footer .sec1 .textBlock h3 {
    width: 70%;
    font-size: 15px;
    line-height: 22px;
}
.sec2 {
    max-width: 760px;
}
.sec2 .lists {
    width: 80%;
    flex-wrap: wrap;
    margin-bottom: 5%;
    height: 230px;
}
.sec2 .list1 {
    margin-top: -3%;
    width: 40%;
    margin-left: 5%;
}
.sec2 .list2 {
    margin-top: 5%;
    width: 40%;
    margin-right: -8%;
}
.sec2 .list3 {
    width: 35%;
    margin-left: 35%;
}
}
@media (max-width: 480px) {
    .menu {
    max-width: 480px;
    flex-direction: column;
    align-items: center;
}
header .menu .phone {
    width: 100%;
    align-items: center;
    font-size: 15px;
}
header .menu .phone p {
    width: 50%;
    padding-left: -2%}
header .menu .phone .button {
    margin-top: -4%;
    width: 30%}
.mainSection {
    max-width: 480px;
    flex-direction: column;
    align-items: center;
}
.mainSection .bio {
    width: 90%;
    height: 200px;
}
.mainSection .bio h1 {
    width: 80%;
    margin-top: 10%;
    font-size: 30px;
    line-height: 35px;
}
.mainSection .bio h2 {
    width: 80%;
    font-size: 20px;
    line-height: 25px;
    margin-left: 15%}
.mainSection .bio .learn {
    width: 50%;
    align-items: center;
    margin-left: 25%;
    height: 35px;
}
.active {
    max-width: 480px;
    display: inline-block;
}
.active .text2 {
    margin-top: 10%;
    font-size: 40px;
}
.active .skills {
    flex-direction: column;
    align-items: center;
}
.active .skills .skill {
    width: 80%;
    font-size: 10px;
}
.active .cost {
    width: 40%;
    margin-left: 30%}
.myWorks {
    max-width: 480px;
    flex-direction: column;
    align-items: center;
}
.myWorks .text3 {
    width: 80%;
    font-size: 35px;
    margin-right: 3%
}
.myWorks .cards {
    width: 80%;
    flex-direction: column;
    margin-left: 10%}
.myWorks .order .orderButton {
    width: 100%
}
.myWorks .orderButton .order {
    width: 50%;
    margin-left: 30%;
}
.photo {
    display: none;
}
footer .sec1 {
    max-width: 480px;
    height: 160px;
}
footer .sec1 .textBlock {
    width: 80%;
    align-items: center;
}
footer .sec1 .textBlock h2 {
    width: 80%;
    margin-top: 3%;
    font-size: 20px;
    line-height: 25px;
    margin-left: -8%}
footer .sec1 .textBlock h3 {
    display: none;
    width: 70%;
    font-size: 15px;
    line-height: 22px;
}
.sec2 {
    max-width: 480px;
}
.sec2 .lists {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5%;
    height: 250px;
}
.sec2 .list1 {
    margin-left: -5%;
    margin-top: -3%;
    margin-right: 6%;
    width: 40%;
}
.sec2 .lists .list1 ul li {
    font-size: 17px;
    line-height: 30px;
}
.sec2 .list2 {
    margin-top: 10%;
    margin-right: 2%;
    width: 45%;
}
.sec2 .list2 .contact p {
    font-size: 17px;
}
.sec2 .list3 {
    width: 40%;
    margin-left: 30%;
}
}